@model DBlog.Models.Article

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container-custom {
            border: 1px solid grey;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .btn-success {
            margin-top: 10px;
        }

        .text-center.font-l {
            font-size: 1.5rem;
            color: #333;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
            /* Gölge efekti */
        }
    </style>
</head>

<body>
    <div class="container container-custom">
        <div class="text-center font-l"><i>Makale Oluştur</i></div>
        <form asp-action="Create" asp-controller="Article" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title" class="form-label">Makale Başlığı</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="form-label">Makalenizin İçeriği</label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="form-label">Makalenize Resim Ekleyin</label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Oluştur</button>
        </form>
    </div>

    <!-- Include the necessary JavaScript files for Bootstrap validation -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Include validation scripts -->
    <partial name="_ValidationScriptsPartial" />
</body>

</html>
