@model DBlog.Entity.Article


@{
    ViewBag.Title = "Delete Article";
}
<div class="w-75 m-auto rounded border text-center p-5 mt-5 bg-light">
    <h2>Delete Confirmation</h2>
    <p> "@Model.Title" başlıklı makaleyi silmek istediğinizden emin misiniz??</p>

    <form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
        <button type="submit" class="btn btn-danger">Evet, sil</button>
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div>
