<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(to bottom right, #f0f8ff, #ffffff);
            background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
                radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
            background-size: 20px 20px;
            background-position: 0 0, 10px 10px;
            text-align: center;
            min-height: 400px;
        }

        .container {
        @*max-width:max-content;*@padding: 0;
        }

        .hero {
            background-image: url('https://img.freepik.com/premium-photo/abstract-background-with-moving-dots-lines-network-connection-structure-futuristic-illustration-digital-technology-design-3d-rendering_658411-96.jpg?w=360');
            background-size: contain;
            background-position: center;
            color: #fff;
            padding: 80px 0;
        }

        .hero-text {
            text-align: center;
        }

        .feature-icon {
            font-size: 3rem;
        }

        .feature {
            text-align: center;
            margin-bottom: 20px;
        }

        .testimonial {
            background-color: #f8f9fa;
            padding: 50px 0;
            position: relative;
            overflow: hidden;
        }

        .testimonial-item {
            text-align: center;
        }

        .custom-bg {
            background-color: #343a40;
        }

        .swiper-container {
            width: 100%;
            height: auto;
        }

        .swiper-wrapper {
            display: flex;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            width: 100%;
            box-sizing: border-box;
            margin-right: 20px;
            padding: 0 30px;
        }

        .swiper-pagination {
            bottom: 10px;
        }

        .swiper-button-next {
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            font-weight: 900;
            color: #fff;
            transition: all .3s ease-in;
        }

        .swiper-button-next:hover {
            color: #a3a3a3;
        }

        .swiper-button-prev {
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            font-weight: 900;
            color: #fff;
            transition: all .3s ease-in;
        }

        .swiper-button-prev:hover {
            color: #a3a3a3;
        }

        body {
            padding: 0;
            margin: 0;
        }

        .test-md {
            padding: 0 30px;
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: #696969;
        }

        .footer {
            width: 100%;
            background-color: #fff;
            color: #343a40;
            border-top: none;
            background: linear-gradient(to bottom right, #e0f7fa, #ffffff);
            color: #666666;
            font-family: 'Open Sans', sans-serif;
            font-size: small;

        }

        .h2_color {
            color: #343a40;
        }
    </style>
</head>

<body>
    <div class="user-select-none w-100">
        <div class="hero m-auto mt-5 rounded-3 w-75">
            <div class=" hero-text">
                <h1 class="display-4 fw-bold">Welcome to My Blog</h1>
                <p class="lead fw-bold">Your go-to place for insightful articles and updates.</p>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Index", "Article")" class="btn btn-light btn-lg">Read Our Articles</a>
                }
                else
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Login", "Users")" class="btn btn-light btn-lg">Read Our Articles</a>
                    </li>
                }


            </div>
        </div>

        <div class="container-mid mt-5 m-auto w-75">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="feature">
                        <div class="feature-icon mb-3">
                            <i class="bi bi-newspaper"></i>
                        </div>
                        <h4>Son Haberler</h4>
                        <p>Çeşitli alanlardaki en son haberler ve trendlerle güncel kalın.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="feature">
                        <div class="feature-icon mb-3">
                            <i class="bi bi-person"></i>
                        </div>
                        <h4>Uzman Yazarlar</h4>
                        <p>İçeriğimiz endüstri uzmanları ve deneyimli yazarlar tarafından hazırlanmıştır.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="feature">
                        <div class="feature-icon mb-3">
                            <i class="bi bi-chat-dots"></i>
                        </div>
                        <h4>İlgi Çekici Tartışmalar</h4>
                        <p>tartışmalara katılın ve düşüncelerinizi topluluğumuzla paylaşın.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial m-auto mt-5  rounded-2  w-75">
            <div class=" test-md">
                <h2 class="text-center mb-4 h2_color">Okurlarımız Ne Diyor?</h2>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-item d-flex align-items-start">
                                <img src="https://th.bing.com/th/id/R.c11b6f38dffc24a4508217513b0e50bd?rik=Pt%2bkITlukiMkWg&riu=http%3a%2f%2fwww.emmegi.co.uk%2fwp-content%2fuploads%2f2019%2f01%2fUser-Icon.jpg&ehk=zjS04fF4nxx%2bpkvRPsSezyic3Z7Yfu%2fuoT75KnbNv1Y%3d&risl=&pid=ImgRaw&r=0"
                                    alt="John Doe" class="rounded-circle me-3" style="width: 80px; height: 80px;">
                                <div>
                                    <p class="lead mb-4">"Güncel bilgiler ve anlayışlı bilgiler için harika bir kaynak
                                        Makaleler!"</p>
                                    <footer class="blockquote-footer mt-2">John Doe</footer>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item d-flex align-items-start">
                                <img src="https://cdn-icons-png.flaticon.com/512/4795/4795042.png" alt="Jane Smith"
                                    class="rounded-circle me-3" style="width: 80px; height: 80px;">
                                <div>
                                    <p class="lead">"konuların çeşitliliğini seviyorum. herkes için bir şey
                                        var!"
                                    </p>
                                    <footer class="blockquote-footer mt-2">Jane Smith</footer>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item d-flex align-items-start">
                                <img src="https://th.bing.com/th/id/OIP.9NBeZMWaWqVOkgm3zDNtZgHaHZ?pid=ImgDet&w=199&h=199&c=7&dpr=2"
                                    alt="Emily Johnson" class="rounded-circle me-3" style="width: 80px; height: 80px;">
                                <div>
                                    <p class="lead">"Bilgi sahibi olmak isteyen herkese şiddetle tavsiye ederim."
                                    </p>
                                    <footer class="blockquote-footer mt-2">Emily Johnson</footer>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item d-flex align-items-start">
                                <img src="https://www.pngarts.com/files/5/User-Avatar-PNG-Image-Background.png"
                                    alt="Alice Cooper" class="rounded-circle me-3" style="width: 80px; height: 80px;">
                                <div>
                                    <p class="lead">"Makaleler iyi araştırılmış ve ilgi çekici!"</p>
                                    <footer class="blockquote-footer mt-2">Alice Cooper</footer>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item d-flex align-items-start">
                                <img src="https://vistapointe.net/images/bob-marley-2.jpg" alt="Bob Marley"
                                    class="rounded-circle me-3" style="width: 80px; height: 80px;">
                                <div>
                                    <p class="lead">"Harika bir bilgi ve ilham kaynağı."</p>
                                    <footer class="blockquote-footer mt-2">Bob Marley</footer>
                                </div>
                            </div>
                        </div>
                        <!-- Additional Testimonial 6 -->
                        <div class="swiper-slide">
                            <div class="testimonial-item d-flex align-items-start">
                                <img src="https://th.bing.com/th/id/R.cdcdd744f67152de17b7bcc36582daff?rik=kFxfEWaTsu30QA&pid=ImgRaw&r=0"
                                    alt="Charlie Brown" class="rounded-circle me-3" style="width: 80px; height: 80px;">
                                <div>
                                    <p class="lead">"Güncel trendlerle güncel kalmak için en iyi blog!"</p>
                                    <footer class="blockquote-footer mt-2">Charlie Brown</footer>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next "></div>
            <div class="swiper-button-prev"></div>
        </div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            breakpoints: {
                768: {
                    slidesPerView: 2,
                },
                992: {
                    slidesPerView: 3,
                },
            },
            centeredSlides: true,
            loop: true,
        });
    </script>


</body>

</html>
