@{
    Layout = null;
    ViewData["Title"] = "Login or Register";
}
@model LoginViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Login Page</title>
</head>

<body>
    <div class="container">
        <div class="login-section">
            <header>Login</header>
            <form asp-controller="Users" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly"></div>

                <label asp-for="Email" hidden></label>
                <input asp-for="Email" class="text" placeholder="Email">

                <label asp-for="Password" hidden></label>
                <input asp-for="Password" class="text" placeholder="Password">
                <div class="checkbox">
                    <br><input type="checkbox" name="RememberMe">&nbsp; Remember Me
                </div>
                <button type="submit">Login</button>
                <p>Don't have an account? <a class="signUpBtnLink" asp-controller="Users" asp-action="Register">Sign
                        Up</a></p>
            </form>
        </div>
    </div>

    <script>
        const signUpBtnLink = document.querySelector(".signUpBtnLink");
        const container = document.querySelector(".container");

        signUpBtnLink.addEventListener("click", () => {
            container.classList.toggle("active");
        });
    </script>
</body>

</html>
