@model ProfileViewModel
@{
    Layout = "_Layout";
}
@section Styles {
    <style>
        html {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            min-width: min-content;
            padding: 0;
            margin: 0;
        }

        body {
            background: linear-gradient(to bottom right, #f0f8ff, #ffffff);
            background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
                radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
            background-size: 20px 20px;
            background-position: 0 0, 10px 10px;
            width: 100%;
            text-align: center;
            min-height: 400px;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container_bg {
            padding: 0;
            margin: 0;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;

        }

        .profile_section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
        }

        .profile_image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .profile_image img {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .profile-info {
            display: flex;
            background-color: #fefefe;
            flex-direction: column;
            border-radius: 2rem;
            border: 1px solid #e0f7fa;
            padding: 2rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .profile_details {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
        }

        footer.footer {
            background: linear-gradient(to bottom right, #e0f7fa, #ffffff);
            color: #666666;
            font-family: 'Open Sans', sans-serif;
            font-size: small;

        }
    </style>
}
<div class="container_bg">
    <div class="container">
        <div class="d-flex">
            <div class="profile_section">
                <div class="profile-info">
                    <div class="profile_image">
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <img src="/img/@Model.Image" alt="@Model.UserName" style="width: 100px; border-radius: 100%;" />
                        }
                        else
                        {
                            <img src="/img/user.png" alt="Default Profile Image"
                                style="width: 100px; border-radius: 100%;" />
                        }

                    </div>
                    <div class="profile_details">
                        <p><i>Username:</i> @Model.UserName</p>
                        <p><i>Name:</i> @Model.Name</p>
                        <p><i>Email:</i> @Model.Email</p>
                        <p><i>Password:</i> *******</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<footer class="footer mt-4 py-4 w-100">
    <p class="mt-2 user-select-none">&copy; 2024 My Blog. All rights reserved.</p>
</footer>
